/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family:'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #e0e2e6;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}
 
body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #e0e2e6;
  width: 100%;
}


/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}








/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentTransfers {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}






/* *{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex; 
    justify-content: center;
    background: #fff;
} */


header {
  top: 0;
  left:o;
  width: 100%;
  padding: 20px 0; 
  display: flex;
  align-items: flex-start; 
  z-index: 99;
  position: fixed;
  background-color: #355e8b; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  justify-content: right;
}

.Navigation{
  position: relative;
  font-size: 0.89em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  justify-content: center; 
  
}


.Navigation a:hover {
  color: red;
  width: 100%;
  left: 0;
  background-color: #3685eb;
}
.Navigation a{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  padding: 10px 20px;

}

.Navigation .btnLogin-popup{
  width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid #3685eb;
  outline: none;
  border-radius:6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 20px;
}

.container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 60px;
  
}


.container .wrapper{
width: 308px;
position: relative;
height: 400px;
background: #5f7ba3;
margin: 30px 10px;
padding: 20px 15px;
margin-left: 20px;
display: flex;
flex-direction: column;
box-shadow: 0.5px 10px #fff;
transition: 0.3s ease-in-out;
margin-top: 5%;
border-radius: 20px;
align-items: center;
background: transparent;
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 20px;
backdrop-filter: blur(20px);
justify-content: center;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);


}



.container .wrapper a{
  background-color: #3685eb;
  color: aliceblue;
  border-radius: 10px;
  border-color: blue;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 30px;
  margin-top: 30px;
}


.container .wrapper h2{
  align-self: center;
  margin-bottom: 20px;
}


.container .wrapper p{
  margin-bottom: 40px;
  justify-content: center;
  align-self: center;
}

.container2{
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 150px;

}

.container2 .content{
  width: 530px;
  position: relative;
  height: 370px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(20px);
  
  


}

