*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, sans-serif;
}


header {
    top: 0;
    left:o;
    width: 100%;
    padding: 20px 0; 
    display: flex;
    align-items: flex-start; 
    z-index: 99;
    position: fixed;
    background-color: #355e8b; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    justify-content: right;
}

.Navigation{
    position: relative;
    font-size:14px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    justify-content: center; 
    
}


.Navigation a:hover {
    color: red; /* Change color on hover */
}
.Navigation a{
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 10px 20px;

}

#submitRequest{
    width: 120px;
    height: 30px;
    background: transparent;
    border: 2px solid #3685eb;
    outline: none;
    border-radius:6px;
    cursor: pointer;
    color: #fff;
    margin-left: 40px;
    margin-right: 20px;
}

#submitRequest:hover{
    background:#97a1c0;
}




/*  Navigation  */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/*  curve outside  */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}



.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 60px;
    
}

.container .wrapper{
    width: 308px;
    position: relative;
    height: 470px;
    background: #5f7ba3;
    margin: 30px 10px;
    padding: 20px 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #fff;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 20px;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

    
}


.container .wrapper a{
    background-color: #3685eb;
    color: aliceblue;
    border-radius: 10px;
    border-color: blue;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 30px;
}


.container .wrapper h2{
    align-self: center;
    margin-bottom: 20px;
}


.container .wrapper p{
    margin-bottom: 40px;
    justify-content: center;
    align-self: center;
}


.wrapper {
    width: 300px; 
    margin: 0 auto; 
}


.textarea {
    width: 90%;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px; 
    display: block;
}

.container .wrapper .label,
.container2 .content .content2 label,
.container .container3 .content3 label,
.container3 .content3 label{
  color: #473f8a;
  font-size: 16px;
}

.container2 .content .textarea,
.container3 .content3 .textarea3,
.container3 .content3 .textarea3
{
  width: 80%;
  outline: none;
  border: 1px solid #a0a1b4;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
  transition: border-color 0.3s ease;

}
.container .container2 .content2 {
  margin-bottom: 5px;
  width: 80%;
}

.container .container2 p {
  margin-bottom: 30px;
  color: #473f8a;
  font-size: 20px;
}
#tranferReason{
  border-radius: 1px;
  border:#5f7ba3;
  width: 90%;
  height: 300px;
  font-size: 15px;
  color: #fff;
  background: #97a1c0;
}


.container3 {
  position: relative;
  width: 100%;
  height: 500px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 20px;

}

#tranferReason3{
  border-radius: 1px;
  border:#5f7ba3;
  width: 90%;
  height: 300px;
  font-size: 15px;
  color: #fff;
  background: #97a1c0;
}

.container2{
    position: relative;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.container2 .content,
.container3 .content3{
    width: 530px;
    position: relative;
    margin-bottom: 50px;
    height: 370px;
    background: #5f7ba3;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    background: linear-gradient(to bottom, #ccd3e9, #fff); 
    


}

.container .wrapper .label,
  .container2 .content .content2 label,
  .container3 .content3 label{
    color: #473f8a;
    font-size: 16px;
  }


